:root {
  --clr-primary: hsl(215, 51%, 70%);
  
  --clr-accent: hsl(178, 100%, 50%);
  --clr-accent-alpha: hsla(178, 100%, 50%, 50%);
 
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-700: hsl(215, 32%, 27%);
  --clr-neutral-800: hsl(216, 50%, 16%);
  --clr-neutral-900: hsl(217, 54%, 11%);
  
  --clr-shadow: hsl(217, 54%, 10%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-family: 'Outfit', sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  color: var(--clr-primary);
  background-color: var(--clr-neutral-900);
}

a {
  text-decoration: none;
}

.card {
  max-width: 21.875rem;
  padding: 1.5rem 1.5rem 2rem;
  background-color: var(--clr-neutral-800);
  border-radius: 1rem;
  box-shadow: 0 1.875rem 0.625rem 1rem var(--clr-shadow);
}

.img-button {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.img-button img {
  display: block;
  max-width: 100%;
}

.img-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    var(--clr-accent-alpha) url("images/icon-view.svg") 
    no-repeat center;
  opacity: 0;
  transition: 0.2s;
}

.img-button:focus-visible::before, 
.img-button:hover::before {
  opacity: 1;
}

.title-link {
  display: block;
  margin-top: 1rem;
  font-size: 1.35rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  color: var(--clr-neutral-100);
}

.title-link:focus-visible, .title-link:hover, 
.name-link:focus-visible, .name-link:hover {
  color: var(--clr-accent);
}

.description {
  margin-top: 1rem;
  font-weight: 300;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  font-size: 1rem;
}

.info-ethereum, .info-days {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-ethereum p {
  color: var(--clr-accent);
}

.divider {
  height: 0.063rem;
  margin-top: 1.5rem;
  background-color: var(--clr-neutral-700);
}

.attribution {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  font-size: 1rem;
}

.avatar {
  flex: 0 0 auto;
  width: 2.1rem;
  height: 2.1rem;
  background-color: var(--clr-neutral-100);
  background-image: url("images/image-avatar.png");
  background-size: cover;
  border-radius: 50%;
  border: 0.063rem solid var(--clr-neutral-100);
}

.name-link {
  margin-left: 0.2rem;
  white-space: nowrap;
  color: var(--clr-neutral-100);
}